
.lefty {
  float: left;
}

#stack {
  min-width: 100px;
  min-height: 2em;
  padding-right: 1em;
}

#stack_display {
  margin-left: -1.25em;
}

.container {
  margin: 1em;
  padding: 1em;
  border: 1px solid gray;
}


.node {
  stroke: #eef;
  stroke-width: 1.5px;
}

.link {
  stroke: #0D94D0;
  stroke-opacity: .6;
  stroke-width: 3.5px;
}

