
.lefty {
  float: left;
}

#stack {
  min-width: 100px;
  min-height: 2em;
  border: 1px solid gray;
  padding: 3px;
  margin: 1em;
}

#container {
  margin: 1em;
  border: 1px solid gray;
}


.node {
  stroke: #eef;
  stroke-width: 1.5px;
}

.link {
  stroke: #0D94D0;
  stroke-opacity: .6;
}

